/* Reset styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Basic styles */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 35px;
	color: rgb(63, 60, 60);
}

header {
	background-color: rgb(80, 31, 31);
	padding: 20px;
	color: whitesmoke;
	font-family: cursive;
}

h1 {
	font-size: 32px;
}

nav ul {
	list-style: none;
	display: flex;
	color: whitesmoke;
	
}

nav li {
	margin-right: 16px;
}

nav a {
	color: #333;
	text-decoration: none;
	color: #fcf6f6;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.part {
	background-size: cover;
	background-position: center;
	text-align: center;
	color: #fff;
	padding: 100px;
}

.featured {
	margin-top: 50px;
}

.items {
	display: flex;
	justify-content: space-between;
}

.item {
	flex-basis: 30%;
	background-color: #f4f4f4;
	padding: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.item img {
	max-width: 100%;
}

.about {
	margin-top: 50px;
}

.btn {
	display: inline-block;
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 20px;
	text-decoration: none;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}
